@import './fonts.css';

.game-roomDescription {
    min-height: 10em;
}
.game-messageLog {
    min-height: 16em;
}
.game-characterDetails {
    min-height: 5em;
}
.game-playerList {
}

.tempBackgroundColor1 {
    background-color: #222;
    color: white;
  }

.mainContainer {
    display: flex;
    flex-direction: column;
}

.mainBackground {
    background-image: url("../assets/images/darkerForest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.normText {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: white;
    font-size: 20pt;
}

.characterDets {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: white;
    font-size: 18pt;
}

.topLogo {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: white;
    font-size: 50pt;
    text-align: center;
    background-color: rgba(77,0,0,1);
    padding: 3%;
    border-radius: 0pt 0pt 30pt 30pt;
    margin-bottom: 20pt;
}

.headerBox {
    display: flex;
    justify-content: center;
    width: min(100% - 30px, 840px);
    margin-inline: auto;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.gameSection1 {
    background-color: rgba(84,84,84,.75);
    border-radius: 30pt;
    padding: 7%;
    margin: 5% 5% 5% 5%;
}

.gameSection2 {
    background-color: rgba(84,84,84,.75);
    border-radius: 30pt;
    padding: 7%;
    margin: 10% 5% 5% 5%;
}

@media screen and (max-width: 425px) {
    .gameContainer {
        flex-direction: column-reverse; 
    }
    .mainContainer {
        flex-direction: row; 
    }
    .form-control{
        margin-bottom: 10%;
    }
    .mainBackground {
        height: 100%;
    }
    .headerBox {
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    .game-messageLog {
        min-height: 10em;
    }
}